<html>

<head>
    <meta charset="utf-8">
    <title>Invoice JS No Framework</title>
    <link rel="stylesheet" href="css/style.css">
  
</head>

<body>
   <div class="page">
        <header>
            <!-- <h1><b contenteditable>INVOICE</b></h1> -->
            <div class="flexbox">
                <div class="logo">
                    <img src="" alt="INVOICE"  onerror="this.src='logo.png'"  >
                </div>

                <div class="sender">
                    <!-- <h1 contenteditable>Logos </h1> -->
                    <p > 
                        Mehdi Allali <br>
                        +213 561 349 993 <br>
                        mehdi.all.go@gmail.com
                    </p>
                </div>
                <div class="sender">
                    <p>
                        16000 Market Street <br>
                        Suite 1005 <br>
                        Philadelphia, PA 19103
                    </p>
                </div>
            </div>
        </header>
        <div class="flexbox invoice-details">
            <div class="recipient">
                <h3>Bill to</h3>
                <p>
                    Company Name <br> 
                    Full Name <br> 
                    Street Address <br>
                    City, State, Zip
                </p>
            </div>
            <div>
                <h3>Invoice Number</h3>
                <p >0001</p>
                <h3>Date</h3>
                <p>09/12/2018</p>
            </div>
            <div>
                <h3>Total invoice</h3>
                <h1><span class="total">600.00</span><span id="prefix">€</span></h1>
            </div>
        </div>

        <hr>
        
        <table class="inventory">
            <thead>
                <tr>
                    <!-- <th width="5%"><span contenteditable>N°</span></th> -->
                    <th width="45%"><span >Description</span></th>
                    <th><span >Rate</span></th>
                    <th width="5%"><span >Qty.</span></th>
                    <th><span >Amount</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- <td><span contenteditable>01</span></td> -->
                    <td><a class="cut"> - </a><span >First Product</span></td>
                    <td><span data-price >280.00</span> <span data-prefix> DA</span> </td>
                    <td><span  data-qty>4</span></td>
                    <td><span data-price>1120.00</span> <span data-prefix> DA</span> </td>
                </tr>
            </tbody>
        </table>
        <a class="add"> Add +</a>
        <table class="balance">
            <tr>
                <th><span >TOTAL HT :</span></th>
                <td><span data-price>600.00</span> <span data-prefix> DA</span> </td>
            </tr>
            <tr>
                <th><span >T.V.A</span> <span data-tva >(19%)</span></th>
                <td><span data-price>0.00</span> <span data-prefix> DA</span> </td>
            </tr>
            <tr>
                <th><span >TOTAL T.T.C</span></th>
                <td><span data-price>600.00</span> <span data-prefix> DA</span> </td>
            </tr>
        </table>

    <div class="footer">
        <h1><span >Invoice</span></h1>
        <div style="text-align:center">
            <a href="https://github.com/scyrencop">Github</a> |
            <a href="https://behance.net/scyrencop">Behance</a> |
            <a href="https://twitter.com/scyrencop">Twitter</a> |
            <a href="https://fb.com/dream.h.go">Facebook</a> 

            <br>
        </div>
    </div>

   </div>

    <script src="js/main.min.js"></script>
</body>

</html>
